body{
  z-index: 0;
  background-color: #fdd4ce;
  }

#strawberry{
  z-index: 1;
  position: absolute;
  top: 20px; left: 550px;
  width: 35vw;
  height: 90vh;
  border: double white 20px;
  border-radius: 15px;
  overflow: hidden;
}

#fruit h1{
    z-index: 2;
    position: relative;
    font-family: "Gluten";
    font-size: 3.6vw;
    top: 8vh; left: 2vw;
    margin: 0 0 0 30vw;
    color: white;
}

#fruit h2{
    z-index: 3;
    position: relative;
    font-size: 6vw;
    font-family: "Gluten";
    top: 11vh; left: 2vw;
    margin: 0 0 0 38vw;
    color: white;
}

button{
  z-index: 4;
  position:relative;
  background-color: #fcd5ce;
  font-family: "Gluten";
  color: red;
  border: solid #fcd5ce 3px;
  font-size: 60px;
  border-radius: 15px;
  text-align: center;
  top: 14vh; left: 66vh;
  margin: 0px 220px 0px 0px;
  padding: 10px 10px 10px 10px;
}

button:active{
  background-color: #fec89a;
  color: white;
}

button:hover{
  border: solid white 3px;
}
